<link rel="stylesheet" type="text/css" href="/static/content/login.css" />

<body>

    <div class="imgcontainer">
        <img src="static/images/minecraft-512.png" alt="Avatar" class="avatar">
    </div>

    <form method="POST">
        <div class="containerL">
            <label for="uname"><b>Username</b></label>
            <input type="text" placeholder="Enter Username" name="username" required>
            <label for="psw"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="password" required>
            <button type="submit">Login</button>
        </div>
    </form>

</body>
